/* ---------------------------------------------*/
body {
  margin: 0;
  padding: 0;
  background-color: rgb(72, 27, 92);
  user-select: none;
}
.App {
  padding: 20px;
  font-weight: bold;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2 {
  color: #38f4f4;
}

button {
  margin-left: 10px;
}
.input, .button {
  margin-left: 10px;
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
}

/* ---------------------------------------------*/
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: #282f36;
}

th, td {
  border: 15px solid rgb(43, 3, 62);
  padding: 8px;
  color: white;
}

th {
  background-color: #01152b;
  text-align: left;
}

tr:nth-child(even) {
  background-color: #22303cfd;
}

tr:hover {
  background-color: #38f4f40e;
}
/* ---------------------------------------------*/
.notification {
  padding: 10px;
  margin-bottom: 10px;
  color: white;
}

.notification-green {
  background-color: green;
}

.notification-red {
  background-color: red;
}

.notification-blue {
  background-color: blue;
}

.tasks-count-and-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tasks-count-and-title h2 {
  margin: 12px; 
}

.welcome-marquee {
  font-size: 20px;
  color: #f0f0f0;
  background-color: rgb(43, 3, 62);
  padding: 10px;
  border-radius: 5px;
  padding-right: 0px;
}

.icons-size-edit {
  font-size: 25px;
  color: #3030f5;
  background-color: transparent;
  border-radius: 5px;

}

.icons-size-delet {
  font-size: 25px;
  color: red;
  background-color: transparent;
  border-radius: 5px;

}

.Color-save {
  background-color: rgb(88, 196, 88);
}

.Color-cancel {
  background-color: rgb(183, 177, 177);

}

.input {
  background-color: rgb(43, 3, 62);
  color: white;
  font-weight: bold;
}
#input_button {
  display: flex;
  align-items: center;
  justify-content:flex-start;
}

/* Large devices (desktops, less than 992px) */
@media (max-width: 1700px) {
  body {
    padding: 20px;
    font-size: 2rem;
  }

  h1, h2 {
    font-size: 1.5rem;
  }

  button, .input, .button {
    padding: 5px;
    font-size: 1rem;
  }

  .welcome-marquee {
    font-size: 1.6rem;
  }

  .icons-size-edit {
    font-size: 1.6rem;
  }
  .icons-size-delete {
    font-size: 1rem;
  }

  table {
    font-size: 1.5rem;
  }

  th, td {
    padding: 3.5px;
  }
}

@media (max-width: 1024px) {
  #input_button {
    display: flex;
    align-items: center;
    justify-content:center;
}
}

/* Extra large devices (large desktops, less than 1200px) */
@media (max-width: 600px) {
  body {
    padding: 10px;
    font-size: 1rem;
  }

  h1, h2 {
    font-size: 1.5rem;
  }

  button, .input, .button {
    padding: 5px;
    font-size: 1rem;
  }

  .welcome-marquee {
    font-size: 1rem;
  }

  .icons-size-edit {
    font-size: 1.6rem;
  }
  .icons-size-delete {
    font-size: 1rem;
  }

  table {
    font-size: 0.75rem;
  }

  th, td {
    padding: 3.5px;
  }
  #input_button {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
}

/* iPhone 12 Pro Max (specific width 375px) */
@media (max-width: 375px) {
  #input_button {
    display: flex;
    align-items: center;
    justify-content: start;
}
}